.word-art {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 35px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #51748c;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.head-name {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 15px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #51748c;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.floatleft {
    float: left;
    width: 30%;
    height: auto;
}

.wrap {
    margin: auto;
    width: 50%;
    font: normal 17px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #333366;
    text-shadow: 3px 1px 5px rgba(10, 9, 9, 0.5);
}

.floatright {
    float: right;
    height: auto;
    width: 70%;
}

.floatcenter {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.main-button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 2px 12px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #2d89ad;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: rotateX(-8.594366926962348deg) rotateY(-1.15deg);
    transform: rotateX(-8.594366926962348deg) rotateY(-1.15deg);
    text-decoration: none;
}

.input-text {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 20px;
    border: 1px solid rgba(160, 192, 214, 0.66);
    -webkit-border-radius: 10px;
    border-radius: 4px;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(249, 247, 247, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(203, 209, 211, 1);
    box-shadow: 2px 2px 2px 0 rgba(203, 209, 211, 1);
    text-shadow: 4px 1px 0 rgba(255, 255, 255, 0.66);
}

.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 132px;
    height: 27px;
    position: relative;
    cursor: pointer;
    top: 0;
    padding: 0 25.600000381469727px;
    border: 1px solid rgb(225, 225, 225);
    font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
    color: rgb(58, 58, 58);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(0deg, rgba(239, 239, 239, 1) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgb(187, 187, 187), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgb(187, 187, 187), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    text-decoration: none;
}

.button:hover {
    width: 132px;
    height: 27px;
    color: rgb(102, 102, 102);
    background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), -webkit-linear-gradient(0deg, rgb(243, 243, 243) 0, rgb(233, 233, 233) 100%), rgb(238, 238, 238);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-decoration: none;
}

.button:active {
    width: 130px;
    height: 32px;
    top: 6px;
    color: rgba(160, 160, 160, 1);
    background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0, rgb(235, 235, 235) 100%), rgb(255, 255, 255);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset;
    -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    text-decoration: none;
}

img {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 220px;
    height: 220px;
    border: 1px solid rgba(193, 240, 255, 0.91);
    -webkit-border-radius: 120px;
    border-radius: 120px;
    font: normal 14px/1 "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.avatar-small {
    width: 70px;
    height: 70px;
}



